body {
    margin: 0;
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0)),
    url("../../assets/img/jogu_bg_2500.jpg");
    background-size: cover;
    background-attachment: local, fixed;
    color: rgb(230,230,230);
    font-family: 'Oxygen', 'sans-serif' ;
}
textarea {
    resize:none;
}
html {
    scroll-behavior: smooth;
  }
/* ________________________________________________________________________________________________________________________________*/
/* ________________________________________________________________________________________________________________________________*/
/* _________________________________________________________HEADER_________________________________________________________________*/
/* ________________________________________________________________________________________________________________________________*/
/* ________________________________________________________________________________________________________________________________*/
.navbar{
    position: fixed;
    height: 80px;
    background-color: rgba(40,40,40,0.9);
    left: 0;
    top: 0;
    right: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    z-index: 2;
    box-shadow: 5px 5px 10px 0px black;
}
header a{
    text-decoration: none;
    color: rgb(230,230,230);
}
header .end-row li{
    list-style: none;
}
header .end-row{
    display: inherit;
}
header .menu-burger-main{
    display: none;
}
header h1 {
    text-shadow: 2px 2px 2px black;
    font-size: 2em;
    margin-top: 10px;
}
.separateur_menu {
    font-size: 2.5em;
}
.link_jf a::after, .button_jf::after{
    height: 3px;
    content: "";
    transition: all 0.4s ease;
    transform: translateX(-210%);
    background-color: rgb(200, 200, 200);
    width: 50%;
    box-shadow: -2px 2px 3px 0px black;
}
.link_jf a{
    padding: 20px;
    text-decoration: none;
    color: rgb(200, 200, 200);
    display: flex;
    flex-flow: column wrap;
    overflow: hidden;
    margin: 0 4px;
    transition: all 0.4s ease;
    text-shadow: 2px 2px 2px black;
}
.link_jf:hover a::after{
    transform: translateX(0%);
}
.link_jf:hover a {
    color: rgb(230,230,230);
}
a.anchor {
    display: block;
    position: relative;
    top: -80px;
    visibility: hidden;    
}

/* ________________________________________________________________________________________________________________________________*/
/* ________________________________________________________________________________________________________________________________*/
/* _________________________________________________________HOME___________________________________________________________________*/
/* ________________________________________________________________________________________________________________________________*/
/* ________________________________________________________________________________________________________________________________*/
h2 {
    text-align: center;
}
.article_container {
    margin-top: 80px;
}
.article_content{
    padding: 20px 5%;
    background-color: rgba(10,10,10,0.8);
    flex-flow: row wrap;
    word-break: break-word;
}
.article_content img{
    max-width: 100%;
    height: auto;
}
.button_container{
    display: flex;
    justify-content: flex-end;
    width: 100%;
}
.button_jf{
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    display: flex;
    flex-flow: column wrap;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.4s ease;
    background: transparent;
    color: rgb(200, 200, 200);

    /* inherit font & color from ancestor */
    font: inherit;
    /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
    line-height: normal;
    /* Corrects font smoothing for webkit */
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;
    /* Corrects inability to style clickable `input` types in iOS */
    -webkit-appearance: none;
}
.button_jf:hover::after{
    transform: translateX(0%);
}
.button_jf:hover {
    color: rgb(230,230,230);
}
.alert-reset {
    text-align: center;
    padding: 20px;
    background-color: rgb(39, 144, 10);
    width: fit-content;
    margin: auto;
    margin-top: 100px;
    border-radius: 5px;
    box-shadow: 3px 3px 10px 0px black;
    text-shadow: 2px 2px 2px black;
}
.alert-success {
    text-align: center;
    padding: 20px;
    background-color: rgb(39, 144, 10);
    width: fit-content;
    margin: auto;
    margin-top: 100px;
    border-radius: 5px;
    box-shadow: 3px 3px 10px 0px black;
    text-shadow: 2px 2px 2px black;
}
.alert-danger {
    text-align: center;
    padding: 20px;
    background-color: rgb(144, 10, 10);
    width: fit-content;
    margin: auto;
    border-radius: 5px;
    margin-top: 100px;
    box-shadow: 3px 3px 10px 0px black;
    text-shadow: 2px 2px 2px black;
}
/* ------------------------------------ Sidebar ----- --------------------------------------*/
.sidebar {
    float: left;
    background-color: rgba(0,0,0,0.8);
    padding: 20px;
    position: fixed;
    top: 80px;
    border-bottom-right-radius: 15px;
    transform: translateX(-415px);
    transition: all ease 0.5s;
    width: 380px;
    border-right: 3px rgb(200, 200, 200) solid;
    box-shadow: 3px 3px 10px 0px black;
    text-shadow: 2px 2px 2px black;
}
.sidebar:hover {
    transform: translateX(0px);
}
.sidebar:hover .sidebar_arrow{
    transform: translateX(-600px);
    margin-left: 0;
    background-color: rgba(0,0,0,0);
}
.sidebar ul {
    word-break: break-word;
    overflow: hidden;
    margin-right: 30px;
}
.sidebar ul a {
    text-decoration: none;
    color: inherit;
}
.sidebar ul li {
    list-style: none;
    margin-bottom: 20px;
    font-size: 1.2em;
}
.sidebar_arrow {
    position: absolute;
    margin-left: 376px;
    font-size: 3em;
    top: 0px;
    text-shadow: 6px 6px 3px black;
    background-color: rgba(10,10,10,0.6);
    padding-right: 20px;
    border-bottom-right-radius: 50%;
    border-top-right-radius: 50%;
    pointer-events: none;
    transition: all ease 0.8s;
}
/* ------------------------------------ Toutes Sections --------------------------------------*/
section h1 {
    text-align: center;
    font-size: 3em;
    text-transform: uppercase;
    text-shadow: 3px 2px 0px black;
    font-weight: 600;
    color: rgb(230,230,230);
}
section {
    margin-top: -40px;
}
/* ------------------------------------ Section intro --------------------------------------*/
#section_intro {
    height: 100vh;
    display: flex;
    justify-content: center;
}
#section_intro .bienvenue {
    align-self: center;
}
.bienvenue h1{
    color: rgb(230,230,230);
    text-shadow: 1px 1px 4px black;
    text-align: center;
    font-size: 4em;
}
.bienvenue h3{
    color: rgb(230,230,230);
    text-shadow: 1px 1px 0px black;
    text-align: center;
}
/* ------------------------------------ Section service --------------------------------------*/
#section_service {
    min-height: 600px;
    background-color: white;
}
#section_service h1 {
    padding-top: 50px;
    color: rgb(50, 50, 50);
    text-shadow: none;
    font-weight: bold;
}
#section_service h2 {
    color: rgb(150,150,150);
}
.service_container {
    display: flex;
    justify-content: center;
    padding-bottom: 70px;
}
.service_container img{
    width: 20%;
    height: 100%;
    margin: 0 4%;
    align-self: center;
    transition: all 0.2s ease;
}
.service_container img:hover{
    transform: scale(1.08);
}
.service_container ul {
    padding-left:0;
}
.service_container li {
    display: flex;
    flex-flow: row wrap;
    height: 125px;
    margin-bottom: 10px;
    transition: all 0.2s ease;
}
.service_container li:hover .icone_service {
    color: white;
    background-color: rgb(139, 199, 59);
}
.service_container li:hover h4 {
    color: rgb(0, 169, 158);    
}
.service_container li:hover {
    transform: scale(1.03);
}
.service_container .icone_service {
    border: 3px solid rgb(139, 199, 59);
    border-radius: 50%;
    text-align: center;
    font-size: 1.8em;
    margin-top: 16px;
    color: rgb(139, 199, 59);
    position: absolute;
    align-self: center;
    transition: all 0.5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 60px;
}
.service_container h4 {
    color: rgb(50, 50, 50);
    width: 100%;
    margin: 12px 0px 13px 75px;
    font-size: 1.3em;
    transition: all 0.5s ease;
}
.service_container p{
    color: rgba(100, 100, 100, 1);
    margin: 0 0px 10px 75px;
    width: 60%;
}
.service_container .liste_gauche, .service_container .liste_droite{
    width:32%;
}
.service_container .liste_gauche li{
    flex-flow: row-reverse wrap;
}
.service_container .liste_gauche h4{
    margin: 12px 75px 13px 0px;
    text-align: right;
}
.service_container .liste_gauche p{
    margin: 0 75px 0 0px;
    text-align: right;
}
/* ------------------------------------ Section competence --------------------------------------*/
#section_competence {
    height: 100vh;
    min-height: 550px;
    background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.3)), url(../../assets/img/jugobg_blanc_2500.jpg);
    background-position: center;
    background-attachment: local, fixed;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}
.competence_container{
    display: flex;
    justify-content: center;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    flex-flow: row wrap;
}
.competence_container h4{
    padding: 20px;
    margin: 0;
    cursor: pointer;
    z-index: 1;
    font-size: 2em;
    color: rgba(230,230,230,0);
    text-shadow: none;
    transition: all 0.2s ease;
}
.competence_container h3{
    position: absolute;
    padding: 20px;
    margin: 0;
    cursor: pointer;
    z-index: 1;
    text-shadow: 2px 2px 1px black;
    font-size: 2em;
    transition: all 0.2s ease;
    text-transform: uppercase;
}
.competence_container .HS{
    transform: translateX(-200px);
}
.competence_container .SF{
    background: rgba(0,0,0,0.2);
    border: 1px solid rgb(100,100,100);
}
.competence_container ul{
    position: absolute;
    transition: all 0.5s ease;
    margin-top: 100px;
    list-style-type: none;
    pointer-events: none;
    color: rgba(0,0,0,0);
}  
.competence_container .descr_intro {
    color: rgba(230,230,230,1);
    transform: scale(2) translateY(25px);
    padding: 0;
    z-index: 1;
    text-shadow: 1px 1px 1px black;
}
.competence_container:hover h3{
    color: rgba(230,230,230,0);
    text-shadow: none;
    background: rgba(0,0,0,0);
    border: none;
}
.competence_container:hover h4{
    color: rgba(230,230,230,1);
    text-shadow: 2px 2px 1px black;
}
.competence_container h4:hover{
    background: rgba(0,0,0,0.2);
    border: 1px solid rgb(100,100,100);
}
.competence_container .descr_html {
    transform: translateX(100px) translateY(44px) rotate(15deg);
}
.competence_container .descr_css {
    transform: translateX(-74px) translateY(-23px) rotate(-5deg);
}
.competence_container .descr_js {
    transform: translateX(50px) translateY(-18px) rotate(15deg);
}
.competence_container .descr_php {
    transform: translateX(-34px) translateY(95px) rotate(16deg) scale(1.5);
}
.competence_container .descr_sql {
    transform: translateX(166px) translateY(123px) rotate(-16deg) scale(1.5);
}
.competence_container .descr_autre {
    transform: translateX(1px) translateY(21px) rotate(-6deg) scale(3);
}
.competence_container:hover .descr_intro{
    color: rgba(0,0,0,0);
    z-index: inherit;
    transform: translateX(1px) translateY(21px) rotate(6deg) scale(3);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}
.comp_html:hover ~ .descr_html {
    color: rgba(230,230,230,1);
    transform: scale(2) translateY(26px);
    z-index:1;
    text-shadow: 1px 1px 1px black;
}      
.comp_css:hover ~ .descr_css {
    color: rgba(230,230,230,1);
    transform: scale(2) translateY(20px);
    z-index:1;
    text-shadow: 1px 1px 1px black;
}      
.comp_js:hover ~ .descr_js {
    color: rgba(230,230,230,1);
    transform: scale(2) translateY(30px);
    z-index:1;
    text-shadow: 1px 1px 1px black;
}      
.comp_php:hover ~ .descr_php {
    color: rgba(230,230,230,1);
    transform: scale(2) translateY(45px) translateX(55px);
    z-index:1;
    text-shadow: 1px 1px 1px black;
}      
.comp_sql:hover ~ .descr_sql {
    color: rgba(230,230,230,1);
    transform: scale(2) translateY(15px);
    z-index:1;
    text-shadow: 1px 1px 1px black;
}      
.comp_autre:hover ~ .descr_autre {
    color: rgba(230,230,230,1);
    transform: scale(2) translateY(20px);
    z-index:1;
    text-shadow: 1px 1px 1px black;
}
/* ------------------------------------ Section portfolio JSON --------------------------------------*/
#section_portfolio_JSON {
    background-color: rgba(0,0,0,0.8);
    margin-bottom: 40px;
}
#section_portfolio_JSON h1{
    padding-top: 25px;
}
#section_portfolio_JSON h3{
    font-size: 2em;
}
#anchor_section_competence{
    top: -105px;
}
.portfolio_description {
    margin: 1% 20%;
}
.portfolio_description p{
    text-align: center;
}
#section_portfolio_JSON .btn_container{
    background: none;
}
#section_portfolio_JSON #slider_prev_bottom,
#section_portfolio_JSON #slider_next_bottom {
    transition: all 0.3s ease;
}
#section_portfolio_JSON #slider_prev_bottom:hover,
#section_portfolio_JSON #slider_next_bottom:hover{
    transform: scale(1.2);
}
#section_portfolio_JSON .articleJson {
    text-align: center;
    margin: 0 5%;
}
.JSON_link_container{
    width: fit-content;
    margin: auto;
}

/* ------------------------------------ Section portfolio --------------------------------------*/
#section_portfolio {
    display: flex;
    background-color: rgb(230,230,230);
    flex-flow: row wrap;
}
#section_portfolio .article_content {
    margin: 0;
    padding: 0px 5%;
}
.btn_container {
    width: 96%;
    background-color: rgba(10,10,10,0.8);
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    margin: 0 2%;
    pointer-events: none;
}
#slider_next, #slider_prev{
    height: 30px;
    width: 30px;
    cursor: pointer;
    border-radius: 50%;
    margin: 5px 10px;
    text-shadow: 1px 1px 5px black;
    text-align: center;
    font-size: 2em;
}
#slider_next_bottom, #slider_prev_bottom{
    height: 100%;
    width: 20%;
    border-radius: 50%;
    margin: -1px 10px 0px 10px;
    text-shadow: 1px 1px 5px black;
    text-align: center;
    font-size: 2em;
    cursor: pointer;
    pointer-events: auto;
    color: inherit;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.titre_livre{
    background-color: rgba(10,10,10,0.8);
    text-align: center;
    border-radius: 0;
    margin-left: 0;
    margin-right: 0;
}
.diapo_visible {
    display: block;
}
.diapo_invisible{
    display: none;
}
.invisible {
    display: none;
}
#pf_articles_JSON {
    display: none;
}
#portfolio_pagination_pages {
    display:flex;
}
/* ------------------------------------ Section A propos --------------------------------------*/
#section_apropos {
    background: linear-gradient(180deg, rgba(10,10,10,0.8), transparent);
}
#anchor_section_apropos {
    top: -120px;
}
#section_apropos .about_container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    background-color: rgba(0,0,0,0.2);
    min-height:100vh;
}
#section_apropos .about_text {
    width: 40%;
    display: flex;
    flex-flow: column;
    padding: 20px;
    text-shadow: 1px 1px 1px black;
    align-self: center;
}
#section_apropos .about_text h4 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 25px;
}
#section_apropos .about_text p{
    padding: 30px;
}
#section_apropos figure {
    width: 260px;
    height: 260px;
    overflow: hidden;
    border-radius: 50%;
    padding: 0;
    margin: 0 0 0 10%;
    align-self: center;
    box-shadow: 0px 0px 20px 20px rgba(0, 0, 0, 0.2);
}
#section_apropos .about_myself{
    width: 100%;
    height: 120%;
}
#section_apropos .button_jf {
    background-color: rgb(50, 50, 50);
    padding: 20px;
    box-shadow: 1px 1px 1px black;
    margin: auto;
    text-decoration: none;
}
#section_apropos .button_jf:hover {
    background-color: black;
}
/* ------------------------------------ Section Contact --------------------------------------*/
#section_contact {
    min-height: 100vh;
    margin-top: 0;
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0)),
    url("../../assets/img/jogu_bg_contact_2500.jpg");
    background-size: cover;
    color: rgb(45, 65, 105);
    font-weight: 600;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
}
#anchor_section_contact {
    top: -80px;
}
#section_contact .contact_container{
    margin: 0 20%;
    background-color: rgba(250,250,250,0.6);
    box-shadow: 2px 1px 20px 20px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}
#section_contact .contact_footer{
    text-align: center;
    height: 200px;
    background-color: rgb(50,50,50);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
#section_contact h1{
    text-shadow: 1px 1px 0px black;
    color: rgb(45, 65, 105);
}
#section_contact label {
    margin: auto;
    width: 100%;
    margin-bottom: 10px;
}
#section_contact .jf_form {
    padding: 30px 30%;
}
#section_contact .form-group{
    padding-left: 0px;
}
#section_contact .jf_form input{
    width: 100%;
}
#section_contact .button_jf {
    background-color: rgb(50, 50, 50);
    padding: 20px;
    box-shadow: 1px 1px 1px black;
    margin: auto;
}
#section_contact input,
#section_contact textarea{
    color: rgb(45, 65, 105);
    padding: 2px;
    border-radius: 3px;
    text-shadow: 0px 1px 1px rgba(45, 65, 105, 1);
}
#section_contact input::placeholder,
#section_contact textarea::placeholder{
    color: rgb(45, 65, 105);
}
#section_contact textarea{
    background-color: rgba(0,0,0,0);
    border: solid 1px rgb(100, 100, 100);
}
#section_contact .button_jf:hover {
    background-color: black;
}
#refresh_captcha{
    cursor: pointer;
    text-decoration: underline;
    margin-bottom: 15px;
    display:none;
}
#captcha_container label{
    width: auto;
}
#captcha_input{
    width: auto !important;
    margin-left: 10px;
    margin-top: -10px;
}

/* ------------------------------------ Article seul --------------------------------------*/
.com_crud {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    margin-right: 11%;
}
.com_date {    
    font-size: 0.7em;
    margin: 0;
    width: 100%;
}
.comment_create {
    width: 60%;
    margin: auto;
}
.article_comment {
    margin: 0 20%;
    background: none;
    padding: 0;
}
.article_content .titre_article {
    color: rgb(200, 200, 200);
    text-align: center;
    font-size: 3em;
    margin-top: 0;
    padding-top: 50px;
}
.article_content h3{
    overflow: hidden;
    text-overflow: ellipsis; 
    word-break: break-word;
    width: 100%;
    text-align: center;
    font-size: 2em;
}
.articleJson a {
    padding: 10px;
    border-radius: 3px;
    color: rgb(200,200,200);
    text-decoration: none;
    transition: all 0.4s ease;
}
.article_content a {
    padding: 10px;
    border-radius: 3px;
    color: rgb(200,200,200);
    text-decoration: none;
}
/* ------------------------------------ Footer        --------------------------------------*/
.btn_up {
    position: fixed;
    right: 10px;
    bottom: 10px;
    text-align: center;
    font-size: 3em;
    text-shadow: 3px 3px 7px black;
    transition: all 1s ease;
}
.btn_up a{
    color: inherit;
}
/* ------------------------------------ InterSectionObserver  --------------------------------------------------------*/
.reveal-loaded .reveal {
    opacity: 0 !important;
    transform: translateY(40px) !important;
    transition: cubic-bezier(0.79, 0.05, 0, 1.01)  0s !important;
}
.reveal-loaded {
    transition: 1s;
}
/*=================================================================================================================================*/
/*========================================================FORMULAIRE===============================================================*/
/*=================================================================================================================================*/
/* ------------------------------------ Register  --------------------------------------------------------*/
.jf_form{
    padding: 30px 10%;
}
.jf_form .form-group {
    padding-left: 300px;
    margin: 10px 0;
}
.jf_form .form-group input{
    background: none;
    border: 1px solid rgb(100,100,100);
    height: 25px;
    color: rgb(230,230,230);
    padding-left: 10px;
}
.jf_form label{
    float: left;
    margin-left: -305px;
}
.jf_form .button_jf{
    margin-left: 300px;
}
.jf_form .form-group a{
    color: inherit;
    font-size: 0.8em;
    text-decoration: none;
}
.remember_me{
    margin-left: -305px;
}
.danger-register{
    margin-top: 0px;
    margin-bottom: 2px;
}
.notif :first-child {
    margin-top: 110px !important;
}
/* ------------------------------------ écrire un commentaire --------------------------------------*/
#comment_textarea {
    width: 100%;
    height: 90px;
    background-color: rgba(0,0,0,0.1);
    color: rgb(230,230,230);
    font-family: Oxygen, sans-serif;
    padding: 0 7px;
    border: solid 1px rgb(50, 50, 50);
}
#edit_comment_text_area {
    width: 100%;
    height: 90px;
    background-color: rgba(0,0,0,0.1);
    color: rgb(230,230,230);
    font-family: Oxygen, sans-serif;
    padding: 0 7px;
    border: solid 1px rgb(50, 50, 50);
}
.comment_textarea {
    width: 100%;
    height: 90px;
    background-color: rgba(0,0,0,0.1);
    color: rgb(230,230,230);
    font-family: Oxygen, sans-serif;
    padding: 0 7px;
    border: solid 1px rgb(50, 50, 50);
}
#btn_comment{
    padding: 10px;
    text-decoration: none;
    color: rgb(200, 200, 200);
    margin: 0 4px;
    border-radius: 3px;
    border: none;
    background: none;
    cursor: pointer;
    margin-bottom: 20px;
}
.article_comment h3{
    font-size: 1em !important;
    text-align: left !important;
}
/* ________________________________________________________________________________________________________________________________*/
/* ________________________________________________________________________________________________________________________________*/
/* _________________________________________________________ACCOUNT________________________________________________________________*/
/* ________________________________________________________________________________________________________________________________*/
/* ________________________________________________________________________________________________________________________________*/
.page_container {
    border-radius: 20px;
    margin: 80px 5%;
    background-color: rgba(0,0,0,0.6);
}
.page_container_login {
    background-color: rgba(0,0,0,0.6);
    min-height: 50vh;
}
.account_header {
    text-align: center;
}
.account_crud h3 {
    text-align: center;
}
.account_crud ul {
    display:flex;
    flex-flow: row wrap;
    justify-content: center;
}
.account_crud li {
    list-style-type: none;
}
.jf_form_article h3{
    text-align: center;
}
/* ------------------------------------Article account ---------------------------------*/
.article_container_account {
    display: block;
}
.view_account{
    cursor: pointer;
}
#account_view_article{
    margin: 0 5%;
}
#account_view_article a{
background-color: inherit;
}
#account_view_article .titre_article_admin{
    text-decoration: none;
    color: inherit;
}
#account_view_article .article_content {
    padding: 20px;
    margin: 10px;
    border: 1px solid white;
    width: 20%;
}
#account_view_article .article_content h3{
    font-size: 1em;
}
.container_visible {
    display: flex;
    flex-flow: row wrap;
}
.container_not_visible {
    display: none;
}
.article_not_visible {
    display: none;
}
/* ------------------------------------Comment account ---------------------------------*/
.comment_bis {
    display: flex;
    flex-flow: row wrap;
    overflow: hidden;
}
.article_comment_account {
    width: 29%;
    margin: 8px;
    border: 1px solid white;
    padding: 1%;
    overflow: hidden;
    word-break: break-word;
    background-color: rgba(10,10,10,0.8);
}
.view_comment, .view_comment_reported{
    cursor: pointer;
}
.reported {
    color:red;
    width: 100%;
    text-align: end;
}
.reported_comment {
    display: flex;
    flex-flow: row wrap;
    margin: 0 2%;
}
.com_visible{
    display:block;
}
.com_invisible{
    display: none;
}
/* ------------------------------------Formulaire account Pagination-----------------------------*/
#com_pagination_container {
    padding: 15px;
    background-color: rgba(0,0,0,0.5);
    border-radius: 50px;
    display:flex;
    margin:auto;
    width: fit-content;
    border: 1px solid white;
}
.recadrage {
    width: 100%;
}
#com_pagination_prev, #com_pagination_next {
    color: rgb(230,230,230);
    border-radius: 50%;
    cursor: pointer;
    font-size: 1.5em;
    transition: all 0.2s ease;
    margin: 0 10px 0 0;
}
#com_pagination_next {
    margin: 0 0 0 10px;
}
#com_pagination_prev:hover{
    transform: scale(1.1);
}
#com_pagination_next:hover{
    transform: scale(1.1);
}
#com_pagination_pages {
    display: flex;
}
#com_pagination_container .page {
    border-radius: 50%;
    background-color: rgb(230,230,230);
    transition: all 0.3s ease;
    margin: 0 3px;
    cursor: pointer;
    align-self: center;
    color: rgb(50,50,50);
    font-weight: 800;
    padding: 3px 9px;
    min-width: 9px;
}
#com_pagination_container .page:hover {
    transform: scale(1.3);
}
#com_pagination_container .page-active {
    background-color: inherit;
    color: rgb(230,230,230);
}


/* ------------------------------------Formulaire account -----------------------------*/
.account_gestion .jf_form .form-group {
    padding: 0;
    text-align: center;
}
.account_gestion .jf_form .button_jf {
    margin: auto;
}
.acc_detail {
    font-size: 0.7em;
    text-align: center;
    width: 100%;
}
.account_gestion .form-control {
    width: 200px;
}
.visible_important {
    display:block !important;
}
/* ________________________________________________________________________________________________________________________________*/
/* ________________________________________________________________________________________________________________________________*/
/* _________________________________________________________TinyMCE________________________________________________________________*/
/* ________________________________________________________________________________________________________________________________*/
/* ________________________________________________________________________________________________________________________________*/
.tox-tinymce {
    min-height: 500px;
}
/* ________________________________________________________________________________________________________________________________*/
/* ________________________________________________________________________________________________________________________________*/
/* _________________________________________________________FOOTER_________________________________________________________________*/
/* ________________________________________________________________________________________________________________________________*/
/* ________________________________________________________________________________________________________________________________*/
footer{
    width: 100%;
    position: absolute;
    background-color: rgb(50,50,50);
    color: rgb(170, 170, 170);
}
footer a,
footer h4,
footer p {
    color: inherit;
    text-decoration: none;
    transition: all 0.5s ease;
}

footer a:hover,
footer p:hover,
footer h4:hover {
color: rgb(230,230,230);
}
.contact_footer{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.footer_up {
    width: 100%;
    font-size: 2em;
    text-align: end;
    background-color: rgb(40,40,40);
}
.footer_up i {
    margin-right: 20px;
}
.footer_left {
    width: 40%;
    padding-left: 2%;
}
.footer_right{
    width: 40%;
}
.footer_right_container{
    display: flex;
    align-items: center;
}
.footer_right_container i{
    margin-right: 16px;
}
/* ________________________________________________________________________________________________________________________________*/
/* ________________________________________________________________________________________________________________________________*/
/* _________________________________________________________MEDIA QUERY____________________________________________________________*/
/* ________________________________________________________________________________________________________________________________*/
/* ________________________________________________________________________________________________________________________________*/
@media screen and (max-width: 1400px) {
    /* ------------------------------------Menu -----------------------------*/
    header .end-row {
        display: none;
    }
    header .navbar {
        align-items: inherit;
        justify-content: space-between;
    }
    header .navbar .nav-item{
        margin-left: 4%;
    }
    header .menu-burger-main{
        display: block;
    }
    header .nav-wrapper{
        display: flex;
        flex-flow: column wrap;
        align-items: center;
    }
    header .menu_checkbox{
        opacity: 0;
        position: absolute;
    }
    header .menu-burger{
        overflow: hidden;
        max-height: 0;
        flex-basis: 100%;
        margin: 0;
        list-style: none;
    }
    header .menu-burger hr{
        margin: 0;
    }
    header .menu-burger li{
        background-color: rgba(0,0,0,0.8)
    }
    header .menu-toggle {
        display: block;
    }
    header .icon-burger {
        height: 50px;
        padding: 15px;
    }
    .menu_checkbox:checked~.menu-burger {
        max-height: 1000px;
    }
    /* ------------------------------------Section service-----------------------------*/
    .service_container {
        flex-flow: column wrap;
    }
    .service_container .liste_gauche, .service_container .liste_droite{
        width: 90%;
        margin:auto;
    }
    .service_container .liste_gauche li{
        flex-flow: row wrap;
    }
    .service_container .liste_gauche li h4{
        text-align: left;
        margin-left: 75px;
    }
    .service_container .liste_gauche li p{
        margin: 0 0px 10px 75px;
        text-align: left;
    }
    .service_container img{
        display: none;
    }
    /* ------------------------------------Section service-----------------------------*/
    #section_apropos figure {
        position: absolute;
        width: 150px;
        height: 150px;
        left: 0;
        margin-top: 45px;
        align-self: auto;
    }
    #section_apropos .about_text {
        padding-bottom: 100px;
    }
    /* ------------------------------------Section Competence-----------------------------*/
    .competence_container {
        position: relative;
    }
    .comp_php:hover ~ .descr_php {
        padding-left: 0px;
        margin-left: -100px;
    }
    /* ------------------------------------Section Portfolio-----------------------------*/
    #section_portfolio_JSON #slider_prev_bottom,
     #section_portfolio_JSON #slider_next_bottom {
    align-items: initial;
    margin-top: -120px;
    }
    /* ------------------------------------Section Contact-----------------------------*/
    #section_contact .jf_form {
        padding: 30px 5%;
    }
}
@media screen and (max-width: 768px) {
    .article_container {
        margin-top:80px;
    }
    .article_content {
        margin: 115px 5%;
    }
    .article_comment {
        margin: 0;
        width: auto;
    }
    /* ------------------------------------Header-----------------------------*/
    header .navbar {
        justify-content: flex-end;
    }
    header .navbar .nav-item {
        position: absolute;
        left: 0;
    }
    /* ------------------------------------Section Competence-----------------------------*/
    .competence_container {
        flex-flow: column wrap;
        align-items: center;
    }
    .competence_container .SF {
        position: inherit;
        width: 70%;
        text-align: center;
    }
    .competence_container .HS {
        position: inherit;
        width: 70%;
        text-align: center;
        transform: translateX(0px);
    }
    .competence_container h4 {
        position: absolute;
        transform: translateX(251px);
    }
    .competence_container .comp_html {        
        transform: translate(-100px, -80px);
    }
    .competence_container .comp_css {
        transform: translate(10px, -80px);
    }
    .competence_container .comp_js {
        transform: translate(100px, -80px);
    }
    .competence_container .comp_php {
        transform: translate(-100px, -10px);
    }
    .competence_container .comp_sql {
        transform: translate(10px, -10px);
    }
    .competence_container .comp_autre {
        transform: translate(120px, -10px);
    }

    .competence_container ul {
        margin-top: 150px;
    }
    .comp_html:hover ~ .descr_html {
        transform: scale(1.6) translateY(26px);
    }
    .comp_css:hover ~ .descr_css {
        transform: scale(1.6) translateY(20px);
    }
    .comp_js:hover ~ .descr_js {
        transform: scale(1.6) translateY(30px);
    }
    .comp_php:hover ~ .descr_php {
        transform: scale(1.2) translateY(45px) translateX(55px);
        margin-left: -52px;
        margin-top: 100px;
    }
    .comp_sql:hover ~ .descr_sql {
        transform: scale(1.3) translateY(15px);
        margin-left: -15px;
    }
    /* ------------------------------------ Section Portfolio -----------------------------*/
    #section_portfolio_JSON img {
        max-width: 100%;
        height: auto;
    }
    #section_portfolio_JSON #slider_prev_bottom,
    #section_portfolio_JSON #slider_next_bottom {
        margin: 0;
        justify-content: flex-start;
        padding-top: 475px;
   }
    #section_portfolio_JSON #slider_next_bottom {
        justify-content: flex-end;
   }
    /* ------------------------------------ Section About -----------------------------*/
    #section_apropos .about_text {
        width: 90%;
        padding-top: 200px;
    }
    #section_apropos figure {
        align-self: auto;
        left: auto;
        margin: auto;
        margin-top: 40px;
    }
    /* ------------------------------------Section Contact-----------------------------*/
    #section_contact .contact_container {
        width: 100%;
        margin: 0;
    }
    /* ------------------------------------Création d'article       -----------------------------*/
    #container .jf_form {
        padding: 0;
    }
    /* ------------------------------------Formulaire Account Admin -----------------------------*/
    #account_view_article .article_content {
        width: 100%;
    }
    .article_comment_account {
        width: 100%
    }
    .page_container {
        margin: 0;
        margin-top: 80px;
    }
    /* ------------------------------------Footer -----------------------------*/
    .footer_left,
    .footer_right {
        width: auto;
        padding: 0 7%;
    }
}
@media screen and (max-width: 425px) {
    section h1 {
        font-size: 2.5em;
    }
    /* ------------------------------------Header -----------------------------*/
    header h1 {
        font-size: 1.7em;
    }
    header .navbar .nav-item{
        margin-left: 0;
        left: 4%;
        position: absolute;
    }
    header .navbar {
        justify-content: flex-end;
    }
    header .navbar .menu-toggle{
        margin-right: -100px;
    }
    .article_content {
        margin: 0;
        margin-top: 80px;
    }
    .article_content .titre_article{
        padding:0;
        margin-left:0;
    }
        /* ------------------------------------Siderbar homepage -----------------------------*/
    .sidebar {
        padding: 0px;
        transform: translateX(-240px);
        width: 250px;
        border-right: 1px rgb(200, 200, 200) solid;
    }
    .sidebar h2 {
        margin-right: 20px;
    }
    .sidebar ul {
        padding-left: 10px;
    }
    .sidebar_arrow {
        margin-left: 220px;
    }
    .btn_container {
        margin-bottom: -80px;
    }
    .btn_container_bottom {
        margin-top: -80px;
    }
    #comment_textarea {
        width: auto;
    }
    /* ------------------------------------Section intro -----------------------------*/
    .bienvenue h1 {
        font-size: 3em;
    }
    /* ------------------------------------Section Services -----------------------------*/
    .service_container .icone_service {
        transform: scale(0.6);
    }
    .service_container .liste_gauche li p,
    .service_container .liste_droite li p {
        margin: 0 0px 10px 60px;
    }
    .service_container .liste_gauche li h4,
    .service_container .liste_droite li h4  {
        margin-left: 60px;
    }
    /* ------------------------------------Section competence -----------------------------*/
    #section_competence {
        min-height: 600px;
    }
    .competence_container .SF {
        width: 70%;
        text-align: center;
    }
    .competence_container h4 {
        font-size: 1em;
    }
    .competence_container .descr_intro {
        margin-top: 170px;
    }
    .competence_container ul {
        margin-top: 80px;
    }
    .comp_html:hover ~ .descr_html {
        transform: scale(1.2) translateY(26px);
    }
    .comp_css:hover ~ .descr_css {
        transform: scale(1.2) translateY(20px);
    }
    .comp_js:hover ~ .descr_js {
        transform: scale(1.2) translateY(30px);
    }
    .comp_php:hover ~ .descr_php {
        transform: scale(0.9) translateY(45px) translateX(55px);
        margin-left: -46px;
    }
    .comp_sql:hover ~ .descr_sql {
        transform: scale(1) translateY(15px);
    }
    .comp_autre:hover ~ .descr_autre {
        transform: scale(1.5) translateY(20px);
    }
    /* ------------------------------------Section portfolio -----------------------------*/
    #section_portfolio_JSON .btn_container {
        margin-top: auto;
    }
    .portfolio_description {
        margin-top: 90px;
    }
    .articleJson a {
        font-size: initial;
    }
    /* ------------------------------------Section contact -----------------------------*/
    #section_contact #comment_textarea {
        width: 100%;
    }
    /* ------------------------------------Formulaire Register -----------------------------*/
    .jf_form .form-group {
        padding-left: 0;
    }
    .jf_form label {
        width: 100%;
        margin-left: 0px;
        margin-bottom: 5px;
    }
    .jf_form .button_jf{
        margin-left: 0;
    }
        
}